@model Insurance.ViewModels.ClientPolicyViewModel

@{
    ViewBag.Title = "Assign Policies";
}

<h2>Client Policies</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Assign</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Client)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Client.Name)
            </dd>
        </dl>
        <h4>Policies</h4>
        <table class="table">
            <tr>
                <th>
                    Assigned
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Policies[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Policies[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Policies[0].ValidityStart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Policies[0].Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Policies[0].RiskType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Policies[0].Coverages)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Policies)
            {
                <tr>
                    <td>
                        @Html.CheckBoxFor(modelItem => item.Assigned)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValidityStart, "{0:dd/MM/yyyy}")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RiskType)
                    </td>
                    <td>
                        @foreach (var coverage in item.Coverages)
                        {
                            @Html.DisplayName(coverage.Name)
                            @Html.DisplayName(" | ")
                        }
                    </td>
                </tr>
            }

        </table>

        <div class="form-group">
            <div class="col-md-offset-6 col-md-6">
                <input type="submit" value="Assign" class="btn btn-default" />
            </div>
        </div>
    </div>
}
