@model Insurance.ViewModels.PolicyViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Policy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Policy.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Policy.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Policy.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Policy.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Policy.ValidityStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Policy.ValidityStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Policy.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Policy.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Policy.RiskType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Policy.RiskType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Policy.Coverages)
        </dt>

        <dd>
            @foreach (var coverage in Model.Policy.Coverages)
            {
                @Html.DisplayName(coverage.Name)
                @Html.DisplayName(" | ")
            }
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
