@model Insurance.ViewModels.PolicyViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Policy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Policy.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Policy.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Policy.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Policy.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Policy.Client)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Policy.Client.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Policy.ValidityStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Policy.ValidityStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Policy.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Policy.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Policy.RiskType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Policy.RiskType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Policy.Coverages)
        </dt>

        <dd>
            @foreach (var coverage in Model.Policy.Coverages)
            {
                @Html.DisplayName(coverage.Name)
                @Html.DisplayName(" | ")
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Policy.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
