@model Insurance.ViewModels.ClientPolicyViewModel

@{
    ViewBag.Title = "Policies List";
}

<h2>Policies List</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Assign</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Client)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Client.Name)
            </dd>
        </dl>
        <h4>Policies</h4>
        <table class="table">
            <tr>
                <th>
                    Assigned
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Policies[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Policies[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Policies[0].ValidityStart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Policies[0].Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Policies[0].RiskType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Policies[0].Coverages)
                </th>
                <th>

                </th>
            </tr>

            @foreach (var item in Model.Policies)
            {
                <tr>
                    <td>
                        @if (item.Assigned)
                        {
                            @String.Format("Yes");
                        }
                        else
                        {
                            @String.Format("No");
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValidityStart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RiskType)
                    </td>
                    <td>
                        @foreach (var coverage in item.Coverages)
                        {
                            @Html.DisplayName(coverage.Name)
                            @Html.DisplayName(" | ")
                        }
                    </td>
                    <td>
                        @if (item.Assigned)
                        {
                            @Html.ActionLink("Deassign", "AssignPolicy", new { id = item.ID })
                        }
                        else
                        {
                            @Html.ActionLink("Assign", "AssignPolicy", new { id = item.ID })
                        }
                    </td>
                </tr>
            }

        </table>

    </div>
}
